<?xml version="1.0"?>

<configuration>

	<configSections>
		<sectionGroup name="HtmlbirdPortal.Settings" type="Net.Htmlbird.Framework.Web.Configuration.SystemOptionsSectionGroup, Net.Htmlbird.Web">
			<section name="DateTimeFormatOptions" type="Net.Htmlbird.Framework.Web.Configuration.DateTimeFormatOptionsSection, Net.Htmlbird.Web" requirePermission="false" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	<!-- 网鸟门户管理系统全局配置 -->
	<HtmlbirdPortal.Settings>
		<DateTimeFormatOptions shortDate="yyyy-MM-dd" longDate="yyyy-MM-dd HH:mm:ss" shortTime="HH:mm" longTime="HH:mm:ss" />
	</HtmlbirdPortal.Settings>
	
	<connectionStrings>
		<clear/>
		<add name="DefaultSqlServer" connectionString="server=(local);database=HtmlbirdCMS;uid=htmlbirdnet;pwd=htmlbirdnet" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>

</configuration>